<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <titlea>yello</title>
</head>
<body>
    Great Job!
    <form method="post" action="/signup">
        <div>
            <label>Title*</label>
            <div>
                <input type="title"  name="title" id="title" maxlength="42" required>
            </div>
        </div>

        <div>
            <label>content*</label>
            <div>
                <input type="content"  name="content" id="content" maxlength="280" required>
            </div>
        </div>
    </form>     

</body>
</html>